@views.html.main {

<div class="container">
    <h1>Diccionario de Datos de la DNCP</h1>
    <div class="row">
        <div class="col-sm-16">
        <div class="wrap-content clearfix">
            <div class="tabla">
            <div class="table-responsive">
                <table class="index-table table table-striped table-bordered">
                    <caption th:text="${title}"></caption>
                    <thead>
                    <!--<tr>
                        <th th:each="head: ${headerOne}" th:text="${head}">#</th>
                    </tr>-->

                    </thead>

                    <tbody>
                    <tr th:each="row: ${tableOne}">
                        <td th:each="cell: ${row}" class="table-cell"
                            th:text="${cell}"></td>

                    </tr>
                    </tbody>

                </table>
            </div>
            <div style="text-align:middle;">
            <img src="/datos/assets/images/sw-owl-orange-v.svg" width="80" height="15">
            <a href="/datos/def/dncp.owl"> Descargar Ontología de la DNCP en formato OWL (Web Ontology Language) </a></div>
            </div>
            <div class="tabla">
            <div class="table-responsive">
                <table class="index-table table table-striped table-bordered">
                    <thead>
                    <tr>
                        <th th:each="head, headStat: ${headerTwo}" th:text="${head}" th:colspan="${headStat.first}? '2'">#</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr th:each="row, rowStat: ${tableTwo}">
                        <td th:each="cell, cellStat: ${row}" class="class-link"
                             th:if="${cellStat.first}">
                            <a th:href="${urls[rowStat.index]}"
                               th:if="${cellStat.first}"
                               th:text="${cell}">Link</a>

                        </td>
                        <td th:each="cell, cellStat: ${row}" class="class-ico"
                            th:if="${cellStat.first}">
                            <a th:href="${urls[rowStat.index]}"
                               th:if="${cellStat.first}">
                                <img alt="Ir al diccionario" src="/datos/assets/def/img/def_ico.png">
                            </a>

                        </td>
                        <td th:each="cell, iterStat: ${row}" class="table-cell"
                            th:utext="${not iterStat.first}? ${cell}" th:if="${not iterStat.first}"></td>

                    </tr>
                    </tbody>

                </table>
            </div>
            </div>
        </div>
        </div>
    </div>
</div>
}